*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b3c2c4;
    border-radius: 14px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: green;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 16px;
  } */
.main-wrapper{
    width: 100%;
    margin: auto; 
}
header{
    height: 106px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #c1c1c1;
    background-color: #ddd;
    user-select: none;
    position: relative;
    overflow: hidden;
}
.palite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 230px;
}
.palite-color{
    min-height: 36px;
    min-width: 36px;
    border: 3px solid transparent;
    margin-right: 10px;
    cursor: pointer;
}

/* Choose colors  */
.black{
    background-color: black;
}
.blue{
    background-color: rgb(88, 88, 248);
}
.red{
    background-color: rgb(199, 65, 65);
}
.white{
    background-color: white;
}
.yellow{
    background-color: rgb(240, 240, 62);
}
.green{
    background-color: rgb(62, 240, 92);
}
.violet{
    background-color: rgb(144, 88, 248);
}
.orange{
    background-color: rgb(224, 115, 42);
}
.cyan{
    background-color: rgb(41, 212, 212);
}


/* controllers block */

.buttons-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 170px;
}

.buttons-block_button{
    padding: 3px 5px;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #9d9898;
}
.buttons-block_button:hover{
    border: 2px solid #c1c1c1;
}
.buttons-block_button:active{
    background-color: #fff;
}


/*  Canvas */

.canvas-wrapper{
   width: 100%;
   height: 100%;
}
canvas{
    border: 3px solid transparent;
    cursor: crosshair;
}

.rec{
    border: 3px solid rgb(190, 52, 52);
}
.play{
    border: 3px solid rgb(139, 228, 158);
}
#rec-btn{
    width: 105px;
}
.rec-bgc{
    background-color: rgb(190, 52, 52);
    color: #d6d6d6;
}
.playing{
    background-color: rgb(139, 228, 158);
    color: #bbb8b8
}
#whats-going{
    position: absolute;
    padding: 5px 10px;
    top: 5px;
    left: 5px;
    min-width: 80px;
    min-height: 20px;
    word-wrap: normal;
    background-color: #c1c1cc;
    border-radius: 5px;
    opacity: .5;
    border-left-color: rgba(0,0,0,0.1);
    
    display: none;
    align-items: center;
    justify-content: center;

    animation: play 2s ease infinite;
}
#whats-going span{
    color: rgb(10, 65, 22);
    font-size: 12px;
}

@keyframes play{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* pen settings */

.line-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 170px;
}
.line-width-elem{
    min-height: 36px;
    min-width: 36px;
    margin-right: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid transparent;
}
.px5{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: black;
}
.px10{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
}
.px15{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
}
.px20{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
}
.px30{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
}

/* modificators */

.current-point{
    border: 3px solid #6d6c64;
    box-shadow: 5px 5px 5px #9d9898;
}

@media (max-width: 1541px) {
    header h1{
        font-size: 18px;
        margin: 0 10px 0 0
    }
    .palite{
      min-width: none;
      flex-wrap: wrap;
      width: 230px;
    }
    .palite-color{
       min-height: 20px;
       min-width: 20px;
       margin-top: 5px;
    }
    .px30{
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 1201px) {
    header h1{
        font-size: 18px;
        margin: 0 10px 0 0;
        flex: 0 0 21%;
    }
    .palite{
        flex: 0 0 40%;
    }
    .line-width{
        flex: 0 0 30%;
    }
    .line-width{
        flex-wrap: wrap;
    }
    .buttons-block{
        margin: 5px 0;
    }
}

@media (max-width: 814px) {
    header{
        height: auto;
    }
    header h1{
        font-size: 16px;
        flex: 0 0 40%;
    }
    .palite{
        flex: 0 0 40%;
    }
    .line-width{
        flex: 0 0 40%;
    }
    .buttons-block{
        flex: 1 0 40%;
    }
    .buttons-block_button{
        padding: 1px 3px;
        margin: 5px 5px 0 0; 
        border-radius: 5px;
        font-size: 9px;
    }
}

@media (max-width: 651px) {
    header h1{
        font-size: 14px;
    }
    .buttons-block_button{
        margin: 10px 10px 0 0;
    }
    .line-width-elem{
        margin: 10px 10px 0 0;
    }
}

@media (max-width: 414px) {
    header h1{
        font-size: 12px;
        flex: 0 0 100%;
        text-align: center;
    }
    .palite{
        flex: 0 0 100%;
    }
    .line-width{
        flex: 0 0 100%;
    }
    .buttons-block{
        flex: 1 0 100%;
    }
}